[Desktop Entry]
Type=Application
Exec=ksayit -caption "%c" %i
Icon=ksayit
X-DocPath=ksayit/index.html
Terminal=false
Name=KSayIt
Name[ar]=برنامج نطق الكلمات
Name[be]=KSayIt
Name[bg]=KSayIt
Name[br]=KSayIt
Name[ca]=KSayIt
Name[cs]=KSayIt
Name[da]=KSayIt
Name[de]=KSayIt
Name[el]=KSayIt
Name[en_GB]=KSayIt
Name[es]=KSayIt
Name[et]=KSayIt
Name[eu]=KSayIt
Name[fi]=KSayIt
Name[fr]=KSayIt
Name[ga]=KSayIt
Name[gl]=KSayIt
Name[he]=KSayIt
Name[hi]=के-से-इट
Name[hne]=के-से-इट
Name[hu]=KSayIt
Name[is]=KSayIt
Name[it]=KSayIt
Name[ja]=KSayIt
Name[km]=KSayIt
Name[ko]=KSayIt
Name[ku]=KSayIt
Name[lt]=KSayIt
Name[lv]=KSayIt
Name[mk]=KSaylt
Name[ml]=കെസേഇറ്റ്
Name[ms]=KSayIt
Name[nb]=KSayIt
Name[nds]=KSayIt
Name[ne]=केडीई सेयल्ट
Name[nl]=KSayIt
Name[nn]=KSayIt
Name[pa]=KSayIt
Name[pl]=KSayIt
Name[pt]=KSayIt
Name[pt_BR]=KSayIt
Name[ro]=Vorbitor
Name[ru]=KSayIt
Name[sk]=PovedzTo
Name[sl]=KSayIt
Name[sr]=К‑изговор
Name[sr@latin]=K‑izgovor
Name[sv]=Ksayit
Name[ta]=KSayIt
Name[tg]=KSayIt 
Name[tr]=KSayIt
Name[uk]=KSayIt
Name[vi]=Nói K
Name[x-test]=xxKSayItxx
Name[zh_CN]=KSayIt
Name[zh_TW]=KSayIt
GenericName=Text-to-Speech Frontend
GenericName[ar]=واجهة نص-إلى-صوت
GenericName[bg]=Синтез на глас
GenericName[ca]=Frontal per text a veu
GenericName[cs]=Rozhraní hlasové syntézy
GenericName[da]=Forende for tekst-til-tale
GenericName[de]=Oberfläche für die Sprachausgabe
GenericName[el]=Μετατροπή κειμένου σε ομιλία
GenericName[en_GB]=Text-to-Speech Frontend
GenericName[es]=Interfaz de texto a voz de KDE
GenericName[et]=Teksti ettelugemine
GenericName[eu]=Testutik hizketarako interfazea
GenericName[fa]=پایانۀ متن به گفتار
GenericName[fi]=Puhesyntetisaattorin käyttöliittymä
GenericName[fr]=Interface pour la synthèse vocale
GenericName[ga]=Comhéadan Téacs-go-Caint
GenericName[gl]=Interface de Texto-para-Voz
GenericName[hi]=पाठ-से-वार्ता फ्रन्टएण्ड
GenericName[hne]=पाठ-से-वार्ता फ्रन्टएन्ड
GenericName[hu]=Szövegfelolvasó
GenericName[is]=Texti-í-tal myndrænt viðmót
GenericName[it]=Interfaccia di pronuncia
GenericName[ja]=テキスト読み上げフロントエンド
GenericName[km]=ផ្នែក​ខាង​មុខ​អត្ថបទ​ដែល​ត្រូវ​និយាយ
GenericName[ko]=텍스트 읽어주기 프론트엔드
GenericName[ku]=Pêşrûyê ji Nivîsarê-bo-Axaftinê
GenericName[lt]=Teksto vertimo kalba naudotojo sąsaja
GenericName[lv]=Teksta nolasītāja priekšpuse
GenericName[mk]=Преден дел за текст-во-говор
GenericName[ml]=ലേഖനം വായനയാക്കുന്നതിനുള്ള പ്രത്യ‌ക്ഷഉപാധി
GenericName[ms]=Antaramuka Teks-ke-Tutur
GenericName[nb]=Brukerflate for tekst til tale
GenericName[nds]=Böversiet för den Vörleser
GenericName[ne]=पाठ वाचक फ्रन्टइन्ड
GenericName[nl]=Tekst-tot-spraak-programma
GenericName[nn]=Tekst-til-tale-grensesnitt
GenericName[pa]=ਪਾਠ ਤੋਂ ਬੋਲੀ ਫਰੰਟ-ਐਂਡ
GenericName[pl]=Program obsługujący syntezator mowy
GenericName[pt]=Interface de Texto para Fala
GenericName[pt_BR]=Interface para o sintetizador de voz
GenericName[ro]=Interfață pentru Text-în-vorbire
GenericName[ru]=Интерфейс к средствам синтеза речи
GenericName[sk]=Text-na-reč rozhranie
GenericName[sl]=Vmesnik »besedila v govor«
GenericName[sr]=Прочеље за текст‑у‑говор
GenericName[sr@latin]=Pročelje za tekst‑u‑govor
GenericName[sv]=Text-till-tal gränssnitt
GenericName[ta]=பேச்சில் இருந்து உரை முன்னணி
GenericName[tg]=Интерфейс барои таҳлили овоз
GenericName[tr]=Metin Okuma Önyüzü
GenericName[uk]=Інтерфейс синтезу мовлення з тексту
GenericName[vi]=Giao diện chuyển Văn bản thành Tiếng nói
GenericName[x-test]=xxText-to-Speech Frontendxx
GenericName[zh_CN]=语音合成前端
GenericName[zh_TW]=文字轉語音前端程式
Categories=Qt;KDE;Accessibility;Utility;
